rtf
rtf_H-He_1_z_5.0.dat
rtf_H-He_1_z_5.5.dat
rtf_H-He_1_z_6.0.dat
rtf_H-He_1_z_6.5.dat
rtf_H-He_1_z_7.0.dat
rtf_H-He_1_z_8.0.dat
rtf_H-He_1_z_10.0.dat
rtf_H-He_1_z_12.0.dat
rtf_H-He_1_z_15.0.dat
rtf_H-He.png
plot.sh
